<div id="login-overlay" class="modal-dialog" align="center">
  <div class="col-xs-10" >
    <div class="well">
      <h2>Iniciar sesión</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :"Correo electronico", class:"control-label" %><br />
          <%= f.email_field :email, autofocus: true,class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :"Contraseña", class:"control-label"%><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :"Recordar usario y contraseña",class:"control-label" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Ingresar",class:"btn btn-primary"%>
        </div>
      <% end %>

      <div class="anctions">
        <%= render "devise/shared/links" %>
      </div>    

    </div>
  </div>
</div>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
