<center>
	<h2>Asignar un rol a este usuario</h2>

	<%= form_for(@userrol) do |f| %>
			<% @userrol.errors.full_messages.each do |message|%>
				<div class="be-red white top-space">
					* <%= message %>
				</div>
			<%end%>	
	<table>
		<tbody>
			<tr>
				<th align="center"><%= @user.first_name %></th>
			</tr>
			<tr>
				<td>
					<%=  f.text_field :user_id, value:@user.id,class:"form-control" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.select :rol_id, @rols.all.collect{|c| [c.name, c.id]}, prompt: "Selecciona un Servicio",class:"form-control" %>
				</td>
			</tr>

			<tr>
				<td>
					<%= f.submit "Guardar",class:"btn btn-success"%> <%= link_to "Cancelar", users_path, class:"btn btn-primary" %>
				</td>
			</tr>

		</tbody>

	</table>

	<%end%>

</center>






<br>
<br><br><br><br><br><br><br>
<br><br>