<center>
	<table class="table table-striped">
		<tbody>
			<th>id de servicio</th>
			<th>nombre de usuario</th>
			<th>tip de contraseña</th>
		</tbody>
		<tr>
			<td><%= @useraservice.service_id %></td>
			<td><%= @useraservice.user_id %>  <%= @useraservice.username %></td>
			<td><%= @useraservice.hint %></td>
		</tr>

	</table>
	<%= link_to "Lista de configuracion de servicios", useraservices_path,class:"btn btn-info" %>
</center>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

