

<div class="container">
<center><h2>Usuarios Registrados</h2><br>
</center>

    <table class="table table-striped" align="center">
        <tbody>
	        <tr>
	            <th >Nombre del usuario</th>
	            <th>Correo del usuario</th>
	            <th></th>
	            <th></th>
	            <th></th>           
	        </tr>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.first_name, user %></td>
					<td><%= link_to user.email, user %></td>
					<td><%= link_to "Eliminar Usuario", user, class:"btn btn-danger", method: :delete %></td>
					<td><%= link_to "Asignar roles",new_userrol_path(user), class:"btn btn-primary" %></td>
					<td><%= link_to "Ver roles de usuario", userrols_path(user), class:"btn btn-info" %></td>

				</tr>
				
			<%end%>
					
    	</tbody>
    </table>
</div>


<br><br><br><br><br><br>